<div class="col-sm-4">

  <h3 class="text-center">Drinks We Know</h3>

  <div class='add-drink'>
    {{#link-to 'drinks.new' classNames="btn btn-info"}}Add a drink?{{/link-to}}
  </div>

  <ul class="drink-list list-unstyled">
    {{#each drink in model}}
      <li>
        {{#link-to 'drink' drink.id}}
          {{drink.name}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>

<div class="col-sm-8">
  {{outlet}}
</div>
