<h1>Drinks We Know</h1>

<div class="col-sm-4">
  <ul>
    {{#each drink in model}}
      <li>
        {{#link-to 'drink' drink.id}}
          {{drink.name}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>

  <div class='add-drink'>
    {{#link-to 'drinks.new'}}Add a drink?{{/link-to}}
  </div>
</div>

<div class="col-sm-8">
  {{outlet}}
</div>
